{% extends 'base.html' %} 
{% block title %} 
Logout 
{% endblock title %} 
{% block styles %}
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'registration/logged_out.css' %}"
    />
{% endblock styles %}
{% block content %}
<div class='outer-div'>
  <div class='middle-div text-center'>
  <div>
  <h1>
  You Have Logged Out
  </h1>
  <h6>Sign back in <a href='http://127.0.0.1:8000/accounts/login/'>here</a></h6>
  </div>
    
  </div>

</div>

{% endblock content %}
