.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-size: 10px;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.legend {
  position: absolute;
  left: 90%;
  top: 5%;
  background-color: rgba(114, 115, 121, 0.15);
  border-radius: 10%;
  padding: 5px;
}
.legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}
.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}
.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}
.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  border-radius: 100%;
}
