<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Dif Temp</title>
  </head>
  <body>

    <div id="test">
      <!-- React Fish App loads here 
      it is bound to this DOM element in our Index.js file -->
    </div>
  </body>
  {% load static %}
  <script>
  </script>
  <!-- 'frontend/main.js' is an optimized JS file that is compiled/bundled by Webpack.  
  Since modern browsers can't read JSX (react) it also has to be translated into older JS.
  This is done by something called Babel which is configured in a .babelrc file -->
  <script src="{% static 'frontend/main.js' %}">
  </script>
</html>